# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Logs
logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos sensibles
.env
*.env

# Salida de compilación (por si después agregás TypeScript o bundlers)
dist/
build/
coverage/

# Editor y entorno de desarrollo
.vscode/
.idea/

# Archivos temporales
*.pid
*.sqlite
*.bak

/src/generated/prisma
